body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: blueviolet;
    font-size: 18px  
}
h1, h2 {
    color: brown;
    text-align: center;
}
div {
    background-color: aliceblue;
    margin: 20px;
    padding: 20px; 
}
.info {
    color: aqua;
    background-color: lightblue;
    display: inline;
}
.warning {
    color: red;
    background-color: pink;
    display: inline;
}
p:last-child {
    color: blueviolet;
}
