div {
    width: 800px;
    height: 250px;
    border-radius: 15px;
    background: gainsboro;
}

h1 {
    color: bisque;
    text-align: center;
}

h2 {
    text-align: center;
}
h3 {
    color: beige;
}
h4 {
    color: aquamarine;
}